@import url("Styles/Color.css");
@import url("Styles/Button.css");
@import url("Styles/Card.css");
@import url("Styles/Body.css");
@import url("Styles/Data_Table.css");
@import url("Styles/Input.css");
:root{
    background-color: var(--primary_container);
    font-family: IRANYekan,sans-serif;
}
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:lang(fa){
    direction: rtl;
}
img{
    max-width: 100%;
}
.inner-box-product-div img{
    max-width: 100%;
}
.swiper {
    /*width: 1320px;
    height: 400px;*/
    width: 1200px;
    height: 363px;
}
.eror403{
    text-align: center;
    color: var(--error);
}
.iconlink{
    color: var(--on_surface);
    text-decoration: none;
}
