:root{
    --primary: #27602b;
    --on_primary: #ffffff;
    --primary_container: #aaf5a3;
    --on_primary_container: #002200;
    --secondary: #52634f;
    --on_secondary: #ffffff;
    --secondary_container: #d6e8cf;
    --on_secondary_container: #101f0f;
    --tertiary: #38656a;
    --on_tertiary: #ffffff;
    --tertiary_container: #bcebf0;
    --on_tertiary_container: #011f22;
    --error: #ba1b1b;
    --on_error: #ffffff;
    --error_container: #ffdad4;
    --on_error_container: #410001;
    --background: #fcfcf6;
    --on_background: #1a1c19;
    --surface: #fcfcf6;
    --on_surface: #1a1c19;
    --outline: #73796e;
    --surface_variant: #dee5d8;
    --on_surface_variant: #424840;
}